//
// Form Validation
// 

.error {
  color: $danger;
}

.parsley-error {
  border-color: $danger;
}
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: $danger;
  margin-top: 5px;
  padding-left: 20px;
  position: relative;

  &:before {
      content: "\F159";
      font-family: "Material Design Icons";
      position: absolute;
      left: 2px;
      top: -1px;
  }
}