//
// Modals
//

.modal-content {
    background-color: $white;
    border-radius: 0px;
    background-clip: inherit;
    border: none;
    overflow: hidden;
    .modal-header {
        border-radius: 0px;
        background-color: $primary;
        color: $white;
    }
    .modal-footer {
        border-top: 1px solid #fff;
        background-color: $modal-footer-bg-color;
    }
    .modal-body {
        border-bottom: 1px solid $border;
        border-top: 1px solid $border;
    }
    .modal-body p {
        color: $gray-500;
    }
    .modal-title.custom-title {
        color: lighten($gray-500, 80%);
    }
}

.custom-modal-title {
    padding: 15px 25px 15px 25px;
    line-height: 22px;
    font-size: 16px;
    text-align: left;
    margin: 0px;
}

.custom-modal-text {
    padding: 20px;
    color: $gray-500;
}

.custombox-modal-flash .close,
.custombox-modal-rotatedown .close {
    top: 20px;
    z-index: 9999;
}
.modal-loader-box {
    padding: 30px 0px 40px 0px;
    h4 {
        padding-bottom: 20px;
    }
}

// Custom animation modal
.custombox-modal {
    background-color: #fff;
    width: 720px !important;
    border-radius: 4px;
    display: none;
    position: relative;
    box-shadow: $dark-shadow-xl;
    .close {
        position: absolute;
        top: 5px;
        right: 25px;
        font-size: 2.2rem;
        font-weight: normal;
        color: lighten($white, 90%);
        text-shadow: none;
        opacity: 1;
    }
    &.modal-lg {
        width: 90% !important;
        max-width: 960px !important;
    }
    &.modal-full {
        width: 90% !important;
        min-height: 400px;
        max-width: 1440px !important;
    }
}
