<div id="add-modal" class="custombox-modal modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
        <div class="modal-header p-0">
            <button type="button" class="close" onclick="Custombox.modal.close();">
                <span>×</span><span class="sr-only">Close</span>
            </button>
            <h4 class="custom-modal-title"></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer text-right">
            <button class="btn btn-purple btn-xs waves-effect waves-light float-right ladda-button mr-3" data-style="expand-right" type="button">
                保存
            </button>
            <button onclick="Custombox.modal.close();" type="button" class="btn btn-info btn-xs waves-effect float-left waves-light">
                取消
            </button>
        </div>
    </div>
</div>
<div id="edit-modal" class="custombox-modal modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
        <div class="modal-header p-0">
            <button type="button" class="close" onclick="Custombox.modal.close();">
                <span>×</span><span class="sr-only">Close</span>
            </button>
            <h4 class="custom-modal-title"></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer text-right">
            <button class="btn btn-purple btn-xs waves-effect waves-light float-right ladda-button mr-3" data-style="expand-right" type="button">
                保存
            </button>
            <button onclick="Custombox.modal.close();" type="button" class="btn btn-info btn-xs waves-effect float-left waves-light">
                取消
            </button>
        </div>
    </div>
</div>
<div id="authorization-modal" class="custombox-modal modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
        <div class="modal-header p-0">
            <button type="button" class="close" onclick="Custombox.modal.close();">
                <span>×</span><span class="sr-only">Close</span>
            </button>
            <h4 class="custom-modal-title"></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer text-right">
            <button class="btn btn-purple btn-xs waves-effect waves-light float-right ladda-button mr-3" data-style="expand-right" type="button">
                保存
            </button>
            <button onclick="Custombox.modal.close();" type="button" class="btn btn-info btn-xs waves-effect float-left waves-light">
                取消
            </button>
        </div>
    </div>
</div>
<div id="auth-modal" class="custombox-modal modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
        <div class="modal-header p-0">
            <button type="button" class="close" onclick="Custombox.modal.close();">
                <span>×</span><span class="sr-only">Close</span>
            </button>
            <h4 class="custom-modal-title"></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer text-right">
            <button class="btn btn-purple btn-xs waves-effect waves-light float-right ladda-button mr-3" data-style="expand-right" type="button">
                保存
            </button>
            <button onclick="Custombox.modal.close();" type="button" class="btn btn-info btn-xs waves-effect float-left waves-light">
                取消
            </button>
        </div>
    </div>
</div>
<div id="import-modal" class="custombox-modal modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
        <div class="modal-header p-0">
            <button type="button" class="close" onclick="Custombox.modal.close();">
                <span>×</span><span class="sr-only">Close</span>
            </button>
            <h4 class="custom-modal-title"></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer text-right">
            <button class="btn btn-purple btn-xs waves-effect waves-light float-right ladda-button hidden-button mr-3" data-style="expand-right" type="button">
                保存
            </button>
            <button onclick="Custombox.modal.close();" type="button" class="btn btn-info btn-xs waves-effect float-left waves-light">
                取消
            </button>
        </div>
    </div>
</div>